.jumbthron {
  height: 100vh;
}
.jumbthron img {
  height: 100%;
}
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
}

.jumbthron-container {
  width: 100vw;
  height: 100vh !important;
  padding: 0;
  overflow-x: hidden !important;
}
.second {
  height: 100vh !important;
  margin-bottom: 0.5rem;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.card.light-bg.second {
  border-radius: 0 !important;
  width: 100vw !important;
}

.light-bg {
  background-color: var(--text-light);
  color: var(--text-main);
}

.features {
  height: 100vh;
  padding: 0;
}

.features .card {
  height: 100vh;
  /* margin-top: 0.5rem; */
  margin-bottom: 0.2rem;
}
.features .card {
  height: 100vh;
  /* margin-top: 0.5rem; */
  margin-bottom: 0.2rem;
}
.features .cardtext div {
  height: 13vh;
  /* margin-top: 0.5rem; */
  margin-bottom: 0.1rem;
  background-color: var(--text-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.features .cardtext {
  height: 20vh !important;
}
p i {
  color: var(--text-link);
  font-size: var(--font-mid);
  padding-right: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
p i:hover {
  color: var(--text-main);
  font-size: 2.5rem;
}

.features p {
  color: var(--text-dark);
}
.d-none {
  display: block !important;
}
.margin-top-0 {
  margin-top: 0 !important;
}
/* .carousel-inner img {
  height: 5vh !important;
  display: none !important;
} */

.benefits h3 i {
  color: var(--text-main);
}
.benefits h3 {
  text-align: left;
  color: var(--text-link) !important;
}
.benefits h2 {
  color: var(--text-main) !important;
}
.landing-first p {
  font-size: var(--font-small);
}

@media screen and (min-width: 48em) {
  .features {
    columns: 3;
    width: 100%;
  }
  .multi-column.options {
    columns: 3;
    width: 100%;
  }
  .carousel-inner img {
    height: 55vh !important;
  }

  .landing-first h1,
  .landing-second h1,
  .landing-third h1 {
    font-size: var(--font-large) !important;
  }
  .landing-first p,
  .landing-second p {
    font-size: var(--font-mid) !important;
  }
}

@media screen and (min-width: 375px) {
  /* .landing-first h1 {
    font-size: var(--font-large);
  }
  .landing-first p {
    font-size: var(--font-mid);
  } */
}

@media screen and (max-width: 375px) {
  .change-size {
    display: none;
  }
  p i {
    color: var(--text-link);
    font-size: 1rem;
  }
  p i:hover {
    color: var(--text-main);
    font-size: 1.2rem;
  }
  .h5,
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  .features .cardtext div {
    height: 12.5vh;
  }
  .margin-top-0 {
    margin-top: 0 !important;
  }
  .landing-first h1 {
    font-size: 1.5rem;
  }
  .landing-first p {
    font-size: 1rem;
  }
}
