.jumbthron {
  height: 100vh;
}
.jumbthron img {
  height: 100%;
}
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
}

.jumbthron-container {
  width: 100vw;
  height: 100vh !important;
  padding: 0;
  overflow-x: hidden !important;
}
.second {
  height: 100vh !important;
  margin-bottom: 0.5rem;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.card.light-bg.second {
  border-radius: 0 !important;
  width: 100vw !important;
}

.light-bg {
  background-color: var(--text-light);
  color: var(--text-main);
}

.features {
  height: 100vh;
  padding: 0;
}

.features .card {
  height: 100vh;
  /* margin-top: 0.5rem; */
  margin-bottom: 0.2rem;
}
.features .card {
  height: 100vh;
  /* margin-top: 0.5rem; */
  margin-bottom: 0.2rem;
}
.features .cardtext div {
  height: 13vh;
  /* margin-top: 0.5rem; */
  margin-bottom: 0.1rem;
  background-color: var(--text-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.features .cardtext {
  height: 20vh !important;
}
p i {
  color: var(--text-link);
  font-size: var(--font-mid);
  padding-right: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
p i:hover {
  color: var(--text-main);
  font-size: 2.5rem;
}

.features p {
  color: var(--text-dark);
}
.d-none {
  display: block !important;
}
.margin-top-0 {
  margin-top: 0 !important;
}
/* .carousel-inner img {
  height: 5vh !important;
  display: none !important;
} */

.benefits h3 i {
  color: var(--text-main);
}
.benefits h3 {
  text-align: left;
  color: var(--text-link) !important;
  font-size: 1rem;
}
.benefits h2 {
  color: var(--text-main) !important;
  text-align: left !important;
  white-space: nowrap;
  font-size: 1.25rem;
}
.benefits h3 i {
  font-size: 2rem;
}
.benefits {
  padding-left: 1rem !important;
}

.landing-first p {
  font-size: var(--font-small);
}
.image-round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.image-round p {
  font-size: var(--font-mid);
}
.image-round h5 {
  font-size: 1rem;
  color: var(--text-main);
}
.image-round img {
  height: 5rem !important;
  width: 5rem !important;
  border-radius: 50% !important;
  margin: 0 auto;
}
@media screen and (min-width: 48em) {
  .features {
    columns: 3;
    width: 100%;
  }
  .multi-column.options {
    columns: 3;
    width: 100%;
  }
  .carousel-inner img {
    height: 55vh !important;
  }

  .landing-first h1,
  .landing-second h1,
  .landing-third h1 {
    font-size: var(--font-large) !important;
  }
  .landing-first p,
  .landing-second p {
    font-size: var(--font-mid) !important;
  }
}

.card {
  border: none;
  border-radius: 0;
}

#countdown {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 50px;
  background-color: var(--background-color);
  width: 100vw !important;
  height: 100vh;
}
#countdown div {
  padding: 20px 25px;

  margin: 10px;
  background: rgba(0, 0, 0, 0.5);
}
#countdown span {
  display: block;
  font-size: 25px;
}
#countdown div:first-child {
  background: #17a2b8;
  height: 10rem;
}

#offer .row {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.row {
  margin: 0 !important;
  /* display: block; */
}

@media screen and (max-width: 650px) {
  #countdown {
    font-size: 30px;
    flex-direction: column;
  }
  #countdown div {
    border: none;
    background: none;
    margin: 8px;
    height: 15vh;
  }
}

@media screen and (min-width: 375px) {
  /* .landing-first h1 {
    font-size: var(--font-large);
  }
  .landing-first p {
    font-size: var(--font-mid);
  } */
}

@media screen and (max-width: 375px) {
  .change-size {
    display: none;
  }
  p i {
    color: var(--text-link);
    font-size: 1rem;
  }
  p i:hover {
    color: var(--text-main);
    font-size: 1.2rem;
  }
  .h5,
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  .features .cardtext div {
    height: 12.5vh;
  }
  .margin-top-0 {
    margin-top: 0 !important;
  }
  .landing-first h1 {
    font-size: 1.5rem;
  }
  .landing-first p,
  .image-round p,
  .benefits h3 {
    font-size: 1rem;
  }
  .benefits {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
  .benefits h2 {
    font-size: 1rem;
  }
}
