* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-large: 3rem;
  --font-mid: 2rem;
  --font-small: 1.5rem;
  --text-main: #802bb1;
  --text-dark: #2d283e;
  --text-link: #4c495d;
  --text-light: #d1d7e0;
  --background-color: #2d283e;
}

html {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;

  color: var(--text-light);
  background-color: var(--background-color);
}

.container-fluid {
  /* overflow-y: scroll; */
}

/* Lists */
li {
  list-style: none;
  color: var(--text-dark);
}

/* Links */
a {
  text-decoration: none;
  color: var(--text-light);
}

.text-light {
  color: var(--text-light) !important;
}
.text-main {
  color: var(--text-main) !important;
}
.text-link {
  color: var(--text-link) !important;
}
.yellow {
  color: yellow;
}

.cross-through {
  text-decoration: line-through;
}
