body {
  overflow-x: hidden !important;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll !important;
  padding: 0 !important;
}
.container-fluid {
  padding: 0 !important;
  height: 100vh;
}
.heading {
  margin-top: 5rem;
}

.heading-title {
  text-transform: uppercase;
  font-size: 2rem;
  white-space: nowrap;
}

.flex {
  border-radius: 0 !important;

  height: 100%vh !important;
}
.flex h2 {
  font-size: 1rem;
}
.sub-title {
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.5rem;
}

.flex .column {
  columns: 2;
  height: 50vh;
  margin-bottom: 1rem !important;
  z-index: 1;
  overflow: scroll;
}
.container-fluid p {
  color: var(--background-color);
}

/* Contact */
.input {
  height: 1rem;
  width: fit-content;
  background: no-repeat;
  border: none;
  outline: none;
  border-bottom: thin var(--text-light) solid;
  color: var(--text-light);
}

form {
  text-align: left;
  font-size: 1rem;
  z-index: 1;
  color: var(--text-light);
}

.btn-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form h2 {
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.5rem;
}

.yellow {
  color: yellow !important;
}
/* End Contact */

@media screen and (min-width: 48em) {
  .heading-title {
    font-size: 3.5rem;
  }
  .flex .multi-column {
    columns: 4;
    overflow: hidden;
  }
  .flex .column {
    height: 45vh;
    overflow: hidden;
  }
}
